{% extends "base.html" %}
{% load static %}

{% block title %}Add Resident{% endblock %}

{% block content %}
<div class="card p-4 shadow-sm">
    <h3 class="fw-bold mb-3">Add New Resident</h3>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row g-3">
            {% for field in form %}
                <div class="col-md-6">
                    <label class="form-label fw-semibold small">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <button class="btn btn-primary mt-4 px-4">Save Resident</button>
    </form>
</div>
{% endblock %}
