# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.log

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# =========================
# Virtual Environments
# =========================
env/
venv/

# =========================
# OS / Editor files
# =
